@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  text-decoration: none;
}
img {
  width: 125px;
  height: 44px;
}

.navcomp a {
  padding: 16px;
  width: 43px;
  height: 19px;
  color: #525560;
  font-size: 16px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.DNT {
  width: 115px;
  height: 43px;
  border-radius: 4px;
  color: white;
  background-color: #1d2130;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.childsimg {
  filter: brightness(50%);
  width: 100%;
  height: 715px;
  top: 87px;
  border: 1px;

  background-size: 100%;
  background-image: url(images/BG\ Image.jpg);
}
.childs h1 {
  position: absolute;
  width: 640px;
  height: 224.71px;
  top: 285px;
  left: 110px;
  gap: 0px;
  opacity: 0px;

  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.scroll-container {
  width: 300px;
  height: 200px;
  overflow: auto;
  padding: 10px;
}

.scroll-content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.childs button {
  position: absolute;
  width: Hug (148px) px;
  height: Hug (51px) px;
  top: 540px;
  left: 111px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  cursor: pointer;
  background-color: #ffffff;
  color: 1D2130;
  border: 2px solid #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.childs i {
  position: absolute;
  width: Hug (140px) px;
  height: Hug (48px) px;
  top: 540px;
  left: 283px;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  opacity: 0px;
  color: white;
}
.plv {
  font-size: 16px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-left: 10px;
  text-decoration: none;
}

.childtxt1 {
  position: absolute;
  width: 120px;
  height: 20.43px;
  top: 719.31px;
  left: 110px;

  font-size: 9px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: right;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.childtxt2 {
  position: absolute;
  width: 184px;
  height: 20.43px;
  top: 719.31px;
  left: 955px;

  font-size: 9px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: right;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.linep hr {
  position: absolute;
  color: white;
  width: 800px;
  height: 0px;
  top: 730.99px;
  left: 235.5px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.aboutsection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.title h5 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #1d2130;
  padding-top: 15px;
  padding-bottom: 15px;
}
.title h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
  color: #1d2130;
}
.title p {
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;
  color: #525560;
  padding-right: 50px;
}
.title button {
  width: 146px;
  height: 51px;
  border-radius: 4px;
  background: #f2c94c;
  border: 2px solid #f2c94c;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}

.play img {
  width: 480px;
  height: 578.34px;
}
.oursupporter {
  justify-content: space-around;
}
.oursupporter h4 {
  width: 1250px;
  height: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 2px;
  text-align: left;
  color: #1d2130;
}
.oursupporter hr {
  width: 1050px;
  top: 730.99px;
  left: 1391px;
  margin-right: 30px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #e5e5e5;
}
.logos {
  
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo img {

  width: 120px;
  height: 31px;
}

.whatwedo{
display: flex;
align-items: center;
justify-content: space-around;
background-color: #FCEDC6;
  padding: 30px;
}
.whatwedoimg img{
width: 480px;
height: 658px;
border-radius: 20px;
}
.whatwedo h5{
padding-bottom: 60px;
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
letter-spacing: 2px;
text-align: left;

}
.whatwedo h2{
  padding-bottom: 30px;
font-size: 48px;
font-weight: 700;
line-height: 57.6px;
text-align: left;
}
.loreme{
  padding-bottom: 20px;
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
text-align: left;
color: #525560;
}
.projectwehave h3{
  font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 18.75px;
letter-spacing: 2px;
 padding: 60px;
}
.projectwehave h2{
  width: 640px;
height: 174px;
top: 2734.36px;
left: 219px;

font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 57.6px;
text-align: left;


}

.projectcnbox1 {
  position: absolute;
width: 405px;
height: 421px;
top: 2600px;
left: 110px;
filter: brightness(50%);

border-radius: 20px ;
  background-size: 100%;
  background-image: url(images/bfa6e3675d39063dbd32333efa987424.jpg);
}
.projectcnbox2 {
  position: absolute;
width: 405px;
height: 421px;
top: 2600px;
left: 545px;
filter: brightness(50%);

border-radius: 20px;
  background-size: 100%;
  background-image: url(images/0b6fd6b5048a0b9d3615807e097e6262.jpg)
}

.projectcnbox3 {
  position: absolute;
  filter: brightness(50%);
  width: 405px;
  height: 421px;
  top: 2600px;
  left: 979px;

border-radius: 20px;
  background-size: 100%;
  background-image: url(images/f70dace7ed58faabde5a01b18cd5dbad.jpg)
}
